<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      <div class="container">
        <div class="three columns">
          {% include header.html %}
        </div>
        <div class="breadcrumb" style="padding-bottom: 20px;">
          <u>Pertemuan ke:</u> <a href="pertemuan-1.html">satu</a> » <a href="pertemuan-2.html">dua</a> » 
          <a href="pertemuan-3.html">tiga</a> » <a href="pertemuan-4.html">empat</a> » 
          <a href="pertemuan-5.html">lima</a> » <a href="pertemuan-6.html">enam</a> » 
          <a href="pertemuan-7.html">tujuh</a> » <a href="pertemuan-8.html">delapan</a> » 
          <a href="pertemuan-9.html">sembilan</a> » <a href="pertemuan-10.html">sepuluh</a> » 
          <a href="pertemuan-11.html">sebelas</a> » <a href="pertemuan-12.html">duabelas</a> 
        </div>
        <div class="nine columns" style="z-index:100;">
          <div class="wrapper">
            <article class="post">

              <header class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>
              </header>
            
              <div class="article-content">
                {{ content }}
              </div>
            
            </article>
          </div>
        </div>
      </div>
      {% include footer.html %} 
    </div>
  </body>
</html>
